.mainTitle{
    text-align: center;
    margin-top:2em;
    border-style: solid;
    border-color: lightslategrey;
    border-width: 1px;

}
ul{
    list-style: none;
    display: inline-block;
    margin:auto;
 
    
}
a{
    display: inline-block;
    border-style: solid;
    border-color:lightgray;
    border-width:1px;
    border-radius: 5%;
    margin-top: 5px;}
    a::hover{
        border-width: 5px;
    }


a span{
    display: inline-block;
    color: black;
    width:25em;
}
a div{
    display: inline-block;
    width: 52px;
    height: 52px;
    float: left;

}
a div img{
    display: flex;
    text-align: center;
    margin: auto;
}
#picker{
    margin: auto;
}