.mainTitle{
    text-align: center;
    margin-top:2em;
    border-style: solid;
    border-color: lightslategrey;
    border-width: 1px;

}
.buttonStyle{
    display: flex
}
button{
    margin: auto;
}
ul{
    list-style: none;
    display: inline-block;
    margin:auto;
 
    
}
li{
    margin: 1em;
    display: inline;
}
a{
    display: inline-block;
    border-style: solid;
    border-color:lightgray;
    border-width:1px;
    border-radius: 5%;
    margin-top: 5px;}
    a:hover{
        transform: scale(1.02);
    }


a span{
    display: inline-block;
    color: black;
    width:20em;
}
a div{
    display: flex;
    width: 52px;
    height: 52px;
    float: left;

}
a div img{
    display: inline-block;
    text-align: center;
    margin: auto;
    
}
#picker{
    margin: auto;
}